body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}

#sortFruit {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 10px auto;
    cursor: pointer;
    width: 350px;
    border-radius: 20px;
    border: none;
    background-color: skyblue;
}

#sortFruit:hover {
    background-color: deepskyblue;
    color: white;
}