 :root{
   font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

    body::before {
      content: ""; /* Required for pseudo-elements */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-image: url('images/subway.jpg'); /* Your background image */
      background-size: cover; /* Adjust as needed */
      background-position: center; /* Adjust as needed */
      opacity: 0.5; /* Adjust this value for desired transparency (0.0 to 1.0) */
      z-index: -1; /* Place the pseudo-element behind the content */
    }

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;

}

button {
    display: block;
    margin: 20px auto;
    width: 350px;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    /* background-color: palevioletred; */
}

#increment-btn {
    background-color: darkred;
}

#save-btn {
    background-color: green;
}

#reset-btn {
    background-color: rgb(43, 89, 243);
}

button:hover {
    opacity: 0.8;
}

/* animate cards when you hover */
button {
  transition: all 1s;
  color: white;
}

button:hover {
  transform: scale(1.1);
}
/* animate cards when you hover */
