body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url('./images/table.png');
    background-size: cover;
    text-align: center;
    color: white;
}


h1 {
    color: goldenrod;
    padding: 20px 0 10px 0;
}

#start-btn {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    font-weight: bold;
    padding: 10px 20px;
}

